aws_region = "my-aws-region"
aws_profile = "my-dev-account"
vpc_cidr    = "10.0.0.0/16"
vpc_name    = "agents-dev-vpc"
# ec2_name    = "devbox-001"
# ec2_type    = "t3.xlarge"
# ec2_type    = "t4g.large"
# ec2_ami_id  = "ami-0130d8d35bcd2d433" #ubuntu
# ec2_ami_id  = "ami-0dc23c7e4d9c13041"  #rocky
# ec2_ami_id  = "ami-0b04ce44061b9a1a3"  #rocky-arm
# ec2_ami_usr = "rocky"

ec2_nodes = [
  {
    name          = "build-arm-1"
    ami_id        = "ami-0b04ce44061b9a1a3"
    instance_type = "t4g.large"
    ami_user      = "rocky"
  },
  {
    name          = "devbox-amd-1"
    ami_id        = "ami-0dc23c7e4d9c13041"
    instance_type = "t3.xlarge"
    ami_user      = "rocky"
  }
]

my_ip       = "my-laptop-ip/32"
